.chat-container {
  margin-top: 50px;
  .col-md-3,
  .col-md-5 {
    padding: 0;
  }
  .k-chat {
    margin-left: 0px;
  }
  .user-container {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 0px;
    height: 600px;
  }
  .user-list {
    height: 50px;
    display: flex;
    padding: 5px;
    cursor: pointer;
  }
  .user-list:hover {
    background-color: #eee;
  }
  .user-selected {
    background-color: #ddd !important;
  }
  .user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 3px;
  }
  .user-title {
    padding-left: 5px;
    width: 60%;
    p {
      padding: 0;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.4;
    }
  }
  .user-alarm {
    width: 25%;
    .user-unchecked {
      width: 19px;
      background-color: #0078d4;
      border-radius: 15px;
      color: #fff;
      font-size: 11px;
      padding-left: 5px;
      margin-left: auto;
    }
    .user-time {
      display: flex;
      justify-content: flex-end;
    }
  }
  .nochannel-container {
    width: 500px;
    height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.87);
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .start-button {
    margin-left: auto;
    margin-right: auto;
  }
}
